body{
    background-image: url("imagenes/cuadros-700px.jpg");
}

.secciones__inmo{
        background-color: rgba(240, 240, 240, 0.747);
        block-size: 100px;
      }

.seccion__ofertas{
        background-color: rgba(122, 121, 121, 0.747);
        block-size: 100px;
      }      
